PORT=3002
DATABASE_SERVICE_URL=http://localhost:3001
JWT_SECRET=hash_secreto_para_jwt_2025
JWT_EXPIRES_IN=30m
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=jhon.d@gmail.com
EMAIL_PASS=PASSWORD_123456